.project_container {
  padding: 3% 0 3% 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.project_banner {
  display: flex;
  flex-direction: column;
}

.project_banner img {
  align-self: center;
  width: 80%;
  border-radius: 0.3rem;
}

.project_banner_description {
  width: 50%;
  align-self: center;
  color: #ffff;
  background-color: #202c54;
  margin-top: -110px;
  padding: 20px 60px 15px 60px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 0.4rem;
  border-bottom: 3px dotted #e90041;
}

.project_banner_description h3 {
  margin: 0 0 30px 0;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.project_banner_description p {
  color: rgb(248, 245, 245);
}
@media only screen and (min-width: 767px) {
}

@media only screen and (max-width: 767px) {
  .project_banner img {
    width: 100%;
    border-radius: 0;
  }
  .project_banner_description {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 15px;
    background-color: #46558a;
  }
}
