.project_card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  width: 340px;
  padding: 30px 0 0 0;
  margin: 50px;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.project_card_container h3 {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.project_card_container img {
  width: 90%;
}

.project_card_container h2 {
  margin: 30px 0 0 0;
}

.project_card_container i {
  text-align: center;
  width: 80%;
  margin: 10px 0 0 0;
}

.project_card_container button {
  border: 1px solid #489db1;
  background-color: #5dcae2;
  width: 100%;
  margin: 20px 0 0 0;
  padding: 10px;
  text-transform: uppercase;
}

.project_card_container button:hover {
  background-color: #4798aa;
}

@media only screen and (max-width: 600px) {
  .project_card_container {
    width: 280px;
    margin: 30px;
  }

  .project_card_container h3 {
    font-size: 1.2rem;
  }

  .project_card_container h2 {
    font-size: 1.1rem;
  }

  .project_card_container i {
    font-size: 0.8rem;
  }
}
