.about_container {
  padding: 5% 10% 3% 10%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  z-index: 10;
}

@media only screen and (max-width: 767px) {
  .about_container {
    padding: 10% 5% 3% 5%;
  }
}
