.transparency_container {
  margin: 0 5% 2%;
  padding: 35px 45px;
  display: flex;
  background-color: #273652;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.transparency_container div {
  flex: 1;
  margin: 0 15px;
}

.transparency_container div:nth-child(1) h3 {
  text-align: center;
  color: #f0f0f0;
  margin: 0 0 15px 0;
}

.transparency_container div:nth-child(2) img {
  width: 100%;
}

.transparency_container div:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transparency_container div:nth-child(3) button {
  border-radius: 3px;
  padding: 10px 16px;
  font-weight: bold;
  border: #dddddd 1px solid;
  color: rgb(109, 109, 109);
  background-color: #eeeeee;
  font-size: 0.9rem;
  letter-spacing: 1.8px;
}

.transparency_container div:nth-child(3) button:hover {
  background-color: #d8d8d8;
  transition: 250ms;
  color: rgb(20, 20, 20);
}

@media only screen and (max-width: 767px) {
  .transparency_container {
    margin: 0 0;
    flex-direction: column;
    padding: 25px 25px;
    text-align: center;
  }
  .transparency_container div {
    padding: 20px 0;
  }
  .transparency_container div:nth-child(1),
  .transparency_container div:nth-child(2) {
    border-bottom: 1px solid gray;
  }
}
