.projects_container {
  background-image: url("https://media.istockphoto.com/photos/american-flag-video-still-picture-id490204627?k=6&m=490204627&s=612x612&w=0&h=K1duiEglFHRw2VNQfiKNQIVLk3DVzsUw8dfSa_7t5JY=");
  background-size: cover;
  padding: 3% 0 3% 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  z-index: 10;
}
