.drawer_wrapper {
  width: 100%;
  height: 100vh;
  z-index: 220;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.7);
}

.drawer_wrapper.open {
  left: 0;
}

.drawer_wrapper.close {
  left: 100%;
}

.drawer_wrapper nav {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #fff;
  top: 0;
  right: 0;
  overflow-x: scroll;
}

.drawer_wrapper ul li {
  list-style: none;
}
