.drawer_wrapper {
  width: 100%;
  height: 100vh;
  z-index: 220;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.7);
}

.drawer_wrapper.open {
  left: 0;
}

.drawer_wrapper.close {
  left: 100%;
}

.drawer_wrapper nav {
  position: absolute;
  width: 80%;
  height: 100%;
  background: #fff;
  top: 0;
  right: 0;
  overflow-x: scroll;
}

.drawer_wrapper ul:nth-child(1) {
  padding-top: 40px;
  margin-top: 20px;
  padding: 0;
}

.drawer_wrapper ul li {
  list-style: none;
  text-transform: capitalize;
}

.drawer_wrapper ul > li {
  padding-left: 20px;
  border-bottom: 1px solid #eaeaea;
}

.drawer_wrapper ul li ul li {
  font-size: 0.8rem;
}

.drawer_wrapper ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  line-height: 45px;
}

.drawer_wrapper ul li a.active {
  color: #202c54 !important;
}

.drawer_donate {
  font-size: 1.3rem;
}
