.founder_container {
  display: flex;
  flex-direction: column;
}

.founder_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.founder_info h1 {
  margin: 0 0 20px 0;
  letter-spacing: 0.1rem;
}

.founder_info h4 {
  margin: 0 0 18px 0;
  color: rgb(83, 83, 83);
}

.founder_info h7 {
  color: rgb(66, 66, 66);
}

.founder_story {
  margin: 50px 0 50px;
  display: flex;
}

.founder_story img {
  height: 100%;
  margin: 0 30px;
}

.founder_story ul {
  display: flex;
  margin: 0 auto;
}
.founder_story li {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 20px 20px 0 0;
  padding: 0 10px 0 0;
}

.founder_story li p {
  margin: 0 0;
  font-size: 1.1rem;
  color: #3e57a8;
  text-transform: uppercase;
}

.founder_story ul img {
  margin: 0 10px 0 0;
  width: 25px;
  height: 25px;
}

@media only screen and (max-width: 767px) {
  .founder_container {
    width: 100%;
  }
  .founder_story {
    flex-direction: column;
  }
  .founder_story img {
    max-height: 450px;
    margin: 5px 0 30px 0;
  }
}
