.contact_container {
  margin: 1.5% 0 3% 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.contact_box_container {
  width: 60%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="subject"],
#contact textarea,
#contact button[type="submit"] {
  font-size: 0.7rem;
}

#contact {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 50px 0;
}

#contact h3 {
  align-self: center;
  color: #202c54;
  display: block;
  font-size: 2.3rem;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 0.9rem;
}

fieldset {
  border: medium none !important;
  display: flex;
  flex-direction: column;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="subject"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  align-self: center;
  width: 55%;
  border: none;
  background: #202c54;
  color: #fff;
  border-radius: 0.2rem;
  margin: 2.5% 0 5px;
  padding: 10px;
  font-size: 1.1rem;
}

#contact button[type="submit"]:hover {
  background: #e90041;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}
