.header_top {
  width: 100%;
  height: 38px;
  padding: 5px 0;
  background: #333;
  color: #aaa;
}

.header_top ul,
.header_top ul li {
  margin: 0;
  padding: 0;
}

.header_top ul li {
  list-style: none;
  float: left;
  margin: 0 8px;
}

.logo img {
  width: 100px;
}

.logo_container {
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  height: 120px;
  padding: 20px;
  left: auto;
  background: #202c54;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav {
  width: 100%;
  background: red;
  height: 80px;
  line-height: 80px;
}

header nav ul {
  float: right;
  margin: 0;
  padding: 0;
}
