.header_top {
  width: 100%;
  height: 28px;
  padding: 4px 0;
  background: #333;
  color: #aaa;
}

.header_top ul,
.header_top ul li {
  margin: 0;
  padding: 0;
}

.header_top ul li {
  list-style: none;
  float: left;
  margin: 0 8px;
  font-size: 14px;
}

.logo img {
  width: 100px;
}

.logo_container {
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  height: 120px;
  padding: 20px;
  left: auto;
  z-index: 99;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 2px rgb(0 0 0 / 10%);
}

header nav {
  width: 100%;
  background: #202c54;
  height: 80px;
  line-height: 79px;
  border-bottom: 1px solid #fff;
}

header nav ul {
  float: right;
  margin: 0;
  padding: 0;
}

header nav ul li {
  list-style: none;
}
header nav ul li a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
  padding: 25px;
  border-bottom: 4px solid transparent;
  transition: 0.3s;
}
header nav ul li a:hover {
  border-color: #e90041;
}

header nav ul li a.active {
  border-bottom: 4px solid #e90041;
}

header a {
  color: #fff !important;
  text-decoration: none;
}

header nav ul li ul {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  position: absolute;
  transition: 0.5s ease;
  left: 0;
  z-index: 9;
  background-color: #fff;
  display: none;
}
header nav ul li ul a {
  color: #000 !important;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.sub-menu {
  display: flex;
  align-items: flex-start;
  margin-left: 220px;
}

.sub-menu li {
  width: auto !important;
}

.donate_item {
  background: #e90041;
}

@media only screen and (max-width: 990px) {
  header nav ul li,
  .header_top {
    display: none;
  }
}

.drawer_opener_icon {
  float: right;
}
