.timeline_row {
  display: none;
  background-image: url(http://167.99.7.161/uploads/vet/bg.jpg);
  display: flex;
}

.timeline_container {
  margin: 0 0 5vh 0;
}

@media only screen and (max-width: 767px) {
  .timeline_row {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    margin: 5px 0 0 0;
    border: 1px solid #202c54;
  }

  .timeline_col1 {
    width: 100%;
  }

  .timeline_box {
    margin: 10px auto;
    width: 90%;
    text-align: left;
    padding: 15px;
    border-radius: 10px;
    border: rgb(241, 241, 241) 0.1px solid;
    background-color: rgba(48, 37, 37, 0.178);
  }

  .timeline_box h2 {
    font-size: 1.7rem;
  }

  .timeline_box p {
    font-size: 1rem;
  }

  .timeline_col2 {
    width: 100%;
  }

  .vl {
    display: none;
  }

  .timeline_row img {
    margin: 0;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 90%;
  }

  .xarrows {
    display: none;
  }
}

@media only screen and (min-width: 767px) {
  .timeline_col1,
  .timeline_col2 {
    width: 50%;
  }

  .timeline_box h2 {
    font-size: 2rem;
  }

  .timeline_box p {
    font-size: 1.1rem;
  }

  .timeline_box {
    text-align: left;
    padding: 15px;
    border-radius: 10px;
    margin: 70px auto 0px auto;
    border: rgb(241, 241, 241) 0.1px solid;
    background-color: rgba(158, 158, 158, 0.178);
    width: 40%;
  }

  .timeline_row img {
    margin: 50px 0 0 0;
    border-radius: 5px;
    height: 200px;
    width: 490px;
  }
}

.vl {
  border-left: 3px solid rgb(94, 102, 110);
  position: absolute;
  left: 50%;
}

.timeline_col1,
.timeline_col2 {
  text-align: center;
}

.timeline_box p u {
  text-transform: uppercase;
  text-underline-offset: 3px;
  color: rgb(240, 46, 46);
  font-weight: bolder;
}
