.resource_card {
  background-color: rgb(218, 218, 218);
  display: flex;
  width: 500px;
  justify-content: flex-end;
  border: 1px solid rgb(187, 181, 181);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 30px 40px 30px;
}

.resource_card_texts {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 330px;
}

.resource_card img {
  width: 160px;
}

.resource_card i {
  font-size: 0.9rem;
}

.resource_card p {
  font-size: 0.8rem;
  margin: auto 0 0 0;
}
