@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
}

.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,600&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
